<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.dao.mapper.HonorMapper">
    <resultMap id="BaseResultMap" type="com.yun.beans.entity.Honor">
        <id column="honor_id" jdbcType="INTEGER" property="honorId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="honor_create_time" jdbcType="DATE" property="honorCreateTime"/>
        <result column="honor_name" jdbcType="VARCHAR" property="honorName"/>
        <result column="honor_grade" jdbcType="VARCHAR" property="honorGrade"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="other1" jdbcType="VARCHAR" property="other1"/>
    </resultMap>
    <resultMap id="HonorVo" type="com.yun.beans.vo.HonorVo">
        <result column="resume_name" jdbcType="VARCHAR" property="resumeName"/>
        <result column="cust_id" jdbcType="INTEGER" property="custId"/>
        <result column="honor_id" jdbcType="INTEGER" property="honorId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="honor_create_time" jdbcType="DATE" property="honorCreateTime"/>
        <result column="honor_name" jdbcType="VARCHAR" property="honorName"/>
        <result column="honor_grade" jdbcType="VARCHAR" property="honorGrade"/>
    </resultMap>
    <select id="showAllHonor" resultMap="HonorVo">
        SELECT r.resume_id,
               r.resume_name,
               r.cust_id,
               h.honor_id,
               h.honor_name,
               h.honor_grade,
               h.honor_create_time
        from resume r
                 INNER JOIN honor h
                            on r.resume_id = h.resume_id
        where r.cust_id = #{custId}
          and r.status = 1
    </select>
</mapper>