<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.dao.mapper.JobMapper">
    <resultMap id="BaseResultMap" type="com.yun.beans.entity.Job">
        <id column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="company_admin_id" jdbcType="INTEGER" property="companyAdminId"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="job_city" jdbcType="VARCHAR" property="jobCity"/>
        <result column="job_year" jdbcType="VARCHAR" property="jobYear"/>
        <result column="job_degree" jdbcType="VARCHAR" property="jobDegree"/>
        <result column="job_need_number" jdbcType="INTEGER" property="jobNeedNumber"/>
        <result column="job_publish_time" jdbcType="TIMESTAMP" property="jobPublishTime"/>
        <result column="job_welfare" jdbcType="VARCHAR" property="jobWelfare"/>
        <result column="job_duty" jdbcType="VARCHAR" property="jobDuty"/>
        <result column="job_demand" jdbcType="VARCHAR" property="jobDemand"/>
        <result column="job_addr_detail" jdbcType="VARCHAR" property="jobAddrDetail"/>
        <result column="job_min_salary" jdbcType="DECIMAL" property="jobMinSalary"/>
        <result column="job_max_salary" jdbcType="DECIMAL" property="jobMaxSalary"/>
        <result column="job_search_keyword" jdbcType="VARCHAR" property="jobSearchKeyword"/>
        <result column="job_status" jdbcType="INTEGER" property="jobStatus"/>
        <result column="job_other1" jdbcType="VARCHAR" property="jobOther1"/>
        <result column="job_other2" jdbcType="VARCHAR" property="jobOther2"/>
    </resultMap>
    <select id="selectJobName" resultType="string">
        SELECT j.job_name
        from job j
                 INNER JOIN company_admin c
                            on j.company_admin_id=c.company_admin_id
        where job_id=#{jobId}
    </select>
    <select id="selectAdminName" resultType="string">
        SELECT c.company_admin_name
        from job j
                 INNER JOIN company_admin c
                            on j.company_admin_id=c.company_admin_id
        where job_id=#{jobId}
    </select>
    <select id="selectAdminEmail" resultType="string">
        SELECT c.company_admin_email
        from job j
                 INNER JOIN company_admin c
                            on j.company_admin_id=c.company_admin_id
        where job_id=#{jobId}
    </select>

</mapper>