<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.dao.mapper.ResumeDeliveryRecordMapper">
    <resultMap id="BaseResultMap" type="com.yun.beans.entity.ResumeDeliveryRecord">
        <id column="resume_delivery_record_id" jdbcType="INTEGER" property="resumeDeliveryRecordId"/>
        <result column="cust_id" jdbcType="INTEGER" property="custId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
        <result column="delivery_status" jdbcType="INTEGER" property="deliveryStatus"/>
        <result column="other1" jdbcType="VARCHAR" property="other1"/>
        <result column="other2" jdbcType="VARCHAR" property="other2"/>
    </resultMap>
    <resultMap id="ResumeDeliverVo" type="com.yun.beans.vo.ResumeDeliverVo">
        <id column="resume_delivery_record_id" jdbcType="INTEGER" property="resumeDeliveryRecordId"/>
        <result column="cust_id" jdbcType="INTEGER" property="custId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
        <result column="delivery_status" jdbcType="INTEGER" property="deliveryStatus"/>
        <result column="cust_name" jdbcType="VARCHAR" property="custName"/>
        <result column="cust_telno" jdbcType="CHAR" property="custTelno"/>
        <result column="cust_email" jdbcType="VARCHAR" property="custEmail"/>
        <result column="other1" jdbcType="VARCHAR" property="other1"/>
        <result column="other2" jdbcType="VARCHAR" property="other2"/>
    </resultMap>
    <resultMap id="ResumeDeliveryRecordVo" type="com.yun.beans.vo.ResumeDeliveryRecordVo">
        <id column="resume_delivery_record_id" jdbcType="INTEGER" property="resumeDeliveryRecordId"/>
        <result column="cust_id" jdbcType="INTEGER" property="custId"/>
        <result column="company_admin_id" jdbcType="INTEGER" property="companyAdminId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime"/>
        <result column="delivery_status" jdbcType="INTEGER" property="deliveryStatus"/>
        <result column="other1" jdbcType="VARCHAR" property="other1"/>
        <result column="other2" jdbcType="VARCHAR" property="other2"/>
        <result column="cust_name" jdbcType="VARCHAR" property="custName"/>
        <result column="cust_telno" jdbcType="CHAR" property="custTelno"/>
        <result column="cust_email" jdbcType="VARCHAR" property="custEmail"/>
        <result column="cust_regist_time" jdbcType="VARCHAR" property="custRegistTime"/>
        <result column="resume_profile" jdbcType="VARCHAR" property="resumeProfile"/>
        <result column="resume_birth" jdbcType="VARCHAR" property="resumeBirth"/>
        <result column="resume_telno" jdbcType="CHAR" property="resumeTelno"/>
        <result column="resume_email" jdbcType="VARCHAR" property="resumeEmail"/>
        <result column="resume_gender" jdbcType="CHAR" property="resumeGender"/>
        <result column="resume_leaving__working" jdbcType="VARCHAR" property="resumeLeavingWorking"/>
        <result column="resume_live_city" jdbcType="VARCHAR" property="resumeLiveCity"/>
        <result column="resume_personid" jdbcType="VARCHAR" property="resumePersonid"/>
        <result column="resume_income" jdbcType="VARCHAR" property="resumeIncome"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="resume_full_part_time" jdbcType="VARCHAR" property="resumeFullPartTime"/>
    </resultMap>
    <select id="showCustomerByjobId" resultMap="ResumeDeliverVo">
        SELECT r.resume_delivery_record_id,
               r.cust_id,
               r.resume_id,
               r.job_id,
               r.delivery_time,
               r.delivery_status,
               c.cust_name,
               c.cust_telno,
               c.cust_email,
               c.other1,
               c.other2
        FROM resume_delivery_record r
                 INNER JOIN customer c
                            on r.cust_id = c.cust_id
        where delivery_status = 1
          and job_id = #{jobId}

    </select>
    <select id="showNotDealJob" resultMap="ResumeDeliveryRecordVo">
        SELECT j.job_id,
               j.job_name,
               r.resume_delivery_record_id,
               r.cust_id,
               r.resume_id,
               r.delivery_time,
               r.delivery_status,
               c.other1,
               c.other2,
               c.cust_name,
               c.cust_telno,
               c.cust_email,
               c.cust_regist_time,
               s.resume_profile,
               s.resume_birth,
               s.resume_telno,
               s.resume_email,
               s.resume_gender,
               s.resume_leaving__working,
               s.resume_live_city,
               s.resume_personid,
               s.resume_income,
               s.resume_full_part_time
        FROM job j
                 INNER JOIN resume_delivery_record r
                 INNER JOIN customer c
                 INNER JOIN resume s
                            on j.job_id = r.job_id
                                and r.cust_id = c.cust_id
                                and r.resume_id = s.resume_id
        where j.company_admin_id = #{companyAdminId}
          and r.delivery_status is null
    </select>
    <select id="showPassjob" resultMap="ResumeDeliveryRecordVo">
        SELECT j.job_id,
               j.job_name,
               r.resume_delivery_record_id,
               r.cust_id,
               r.resume_id,
               r.delivery_time,
               r.delivery_status,
               c.other1,
               c.other2,
               c.cust_name,
               c.cust_telno,
               c.cust_email,
               c.cust_regist_time,
               s.resume_profile,
               s.resume_birth,
               s.resume_telno,
               s.resume_email,
               s.resume_gender,
               s.resume_leaving__working,
               s.resume_live_city,
               s.resume_personid,
               s.resume_income,
               s.resume_full_part_time
        FROM job j
                 INNER JOIN resume_delivery_record r
                 INNER JOIN customer c
                 INNER JOIN resume s
                            on j.job_id = r.job_id
                                and r.cust_id = c.cust_id
                                and r.resume_id = s.resume_id
        where j.company_admin_id = #{companyAdminId}
          and r.delivery_status = 1
    </select>
    <select id="showNotPassJob" resultMap="ResumeDeliveryRecordVo">
        SELECT j.job_id,
               j.job_name,
               r.resume_delivery_record_id,
               r.cust_id,
               r.resume_id,
               r.delivery_time,
               r.delivery_status,
               c.other1,
               c.other2,
               c.cust_name,
               c.cust_telno,
               c.cust_email,
               c.cust_regist_time,
               s.resume_profile,
               s.resume_birth,
               s.resume_telno,
               s.resume_email,
               s.resume_gender,
               s.resume_leaving__working,
               s.resume_live_city,
               s.resume_personid,
               s.resume_income,
               s.resume_full_part_time
        FROM job j
                 INNER JOIN resume_delivery_record r
                 INNER JOIN customer c
                 INNER JOIN resume s
                            on j.job_id = r.job_id
                                and r.cust_id = c.cust_id
                                and r.resume_id = s.resume_id
        where j.company_admin_id = #{companyAdminId}
          and r.delivery_status = 0
    </select>
    <update id="updateDeliveryToYes">
        UPDATE resume_delivery_record
        set delivery_status=1
        where resume_delivery_record_id = #{resumeDeliveryRecordId}
    </update>
    <update id="updateDeliveryToNo">
        UPDATE resume_delivery_record
        set delivery_status=0
        where resume_delivery_record_id = #{resumeDeliveryRecordId}
    </update>
    <select id="selectJobId" resultType="int">
        SELECT job_id
        from resume_delivery_record
        where resume_delivery_record_id = #{resumeDeliveryRecordId}
    </select>
    <select id="selectCustId" resultType="int">
        SELECT cust_id
        from resume_delivery_record
        where resume_delivery_record_id = #{resumeDeliveryRecordId}
    </select>
</mapper>