<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yun.dao.mapper.WorkExperienceMapper">
    <resultMap id="BaseResultMap" type="com.yun.beans.entity.WorkExperience">
        <id column="work_experi_id" jdbcType="INTEGER" property="workExperiId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="work_start_time" jdbcType="DATE" property="workStartTime"/>
        <result column="work_end_time" jdbcType="DATE" property="workEndTime"/>
        <result column="work_company_name" jdbcType="VARCHAR" property="workCompanyName"/>
        <result column="work_position" jdbcType="VARCHAR" property="workPosition"/>
        <result column="work_department" jdbcType="VARCHAR" property="workDepartment"/>
        <result column="work_company_scaler" jdbcType="VARCHAR" property="workCompanyScaler"/>
        <result column="work_company_property" jdbcType="VARCHAR" property="workCompanyProperty"/>
        <result column="work_desc" jdbcType="VARCHAR" property="workDesc"/>
        <result column="work_type" jdbcType="VARCHAR" property="workType"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="other1" jdbcType="VARCHAR" property="other1"/>
        <result column="other2" jdbcType="VARCHAR" property="other2"/>
    </resultMap>
    <resultMap id="WordExperenceVo" type="com.yun.beans.vo.WordExperenceVo">
        <result column="work_experi_id" jdbcType="INTEGER" property="workExperiId"/>
        <result column="resume_id" jdbcType="INTEGER" property="resumeId"/>
        <result column="work_start_time" jdbcType="DATE" property="workStartTime"/>
        <result column="work_end_time" jdbcType="DATE" property="workEndTime"/>
        <result column="work_company_name" jdbcType="VARCHAR" property="workCompanyName"/>
        <result column="work_position" jdbcType="VARCHAR" property="workPosition"/>
        <result column="work_department" jdbcType="VARCHAR" property="workDepartment"/>
        <result column="work_company_scaler" jdbcType="VARCHAR" property="workCompanyScaler"/>
        <result column="work_company_property" jdbcType="VARCHAR" property="workCompanyProperty"/>
        <result column="work_desc" jdbcType="VARCHAR" property="workDesc"/>
        <result column="work_type" jdbcType="VARCHAR" property="workType"/>
        <result column="resume_name" jdbcType="VARCHAR" property="resumeName"/>
        <result column="cust_id" jdbcType="INTEGER" property="custId"/>
    </resultMap>
    <select id="showAllWordExper" resultMap="WordExperenceVo">
        SELECT r.resume_id,
               r.resume_name,
               r.cust_id,
               w.work_experi_id,
               w.work_start_time,
               w.work_end_time,
               w.work_company_name,
               w.work_position,
               w.work_department,
               w.work_company_scaler,
               w.work_company_property,
               w.work_desc,
               w.work_type
        from resume r
                 INNER JOIN work_experience w
                            on r.resume_id = w.resume_id
        where r.cust_id = #{custId}
          and r.status = 1
    </select>
</mapper>